<ion-view title="Compose" id="compose-view">
  <ion-content class="padding">
    <div compose-korvai contenteditable class="padding" ng-model="korvai.content"></div><br>
    <div id="korvai-preview" class="padding" ng-bind-html="korvaiPreview"></div>
  </ion-content>

  <ion-footer-bar class="bar-stable" id="compose-footer">
    <div class="row">
      <div class="col-50">
        <arc-tween 
          val="totalMatras"
          thalam="korvai.thalam" mod="korvai.mod"
          style="-webkit-transform: translateZ(0);">
        </arc-tween>
      </div>
      <div class="col-50">
        <span class="large-number">{{ avarthanams }}</span>
        <span class="small-text">Avarthanams</span><br>

        <span class="large-number">{{ beats }}</span>
        <span class="small-text">Beats</span><br>

        <span class="large-number">{{ matras }}</span>
        <span class="small-text">Matras</span>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
