<ion-view title="Register New Account">
  <ion-content class="padding" scroll="false" id="login-view">
    <div class="card">
      <div ng-hide="user">
        <h2>SIGN IN TO YOUR ACCOUNT</h2>
        <form ng-submit="loginWithEmail(data)">
          <label class="item item-input">
            <i class="icon ion-email placeholder-icon"></i>
            <input type="text" placeholder="Email" ng-model="data.email">
          </label><br>
          <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" placeholder="Password" ng-model="data.password">
          </label><br>
          <button class="button button-royal" id="login-button" type="submit">SIGN IN</button>
        </form><br>
        <h4><a href="#/register">Don't have an account?</a></h4>

        <button class="button button-block button-positive" ng-click="loginWithFacebook()">Sign in with Facebook</button>
        <button class="button button-block button-assertive" ng-click="loginWithGoogle()">Sign in with Google</button><br><br>      
      </div>
    </div>
  </ion-content>
</ion-view>