<ion-view title="Login">
  <ion-content padding="true" scroll="false">
    <div ng-show="user">
      <h2>You're logged in!</h2>
      <button class="button button-assertive" ng-click="logout()">Logout</button>
    </div>

    <div ng-hide="user">
      <form ng-submit="loginWithEmail(data)">
        <label class="item item-input">
          <input type="text" placeholder="Email" ng-model="data.email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="data.password">
        </label>
        <button class="button button-block button-balanced" type="submit">Login</button>
      </form><br>

      <h2>Alternatively, log in with...<br>
      <button class="button button-positive" ng-click="loginWithFacebook()">Facebook</button><br><br>
      <button class="button button-energized" ng-click="loginWithGoogle()">Google</button><br><br>
      <a href="/#/register">Don't have an account?</a>
    </div>
  </ion-content>
</ion-view>
