ion-view#compose-view {
  ion-content {
    bottom: 30%;

    #korvai-preview {
      border: 1px dashed;
      font-family: "Crimson Text", serif;
      font-size: 16pt;
      line-height: 130%;

      span.modifier-bracket {
        font-family: arial;
        font-weight: 100;
        font-size: 20pt;
      }
    }
  }

  #compose-footer {
    height: 30%;

    .large-number {
      font-size: 24px;
    }

    .small-text {
      font-size: 10px;
    }
  }
}