<ion-view title="Compose">
  <ion-content class="padding" scroll="true">
    <form ng-submit="createKorvai(korvai)">
      <label class="item item-input">
        <textarea ng-model="korvai.content" placeholder="Make your korvai..."></textarea>
      </label>

      <button class="button button-block button-positive" type="submit">I'm done!</button>
    </form>
    <button class="button button-block button-assertive" ng-click="countMatras(korvai.content)">Count matras</button>

    <h1>Number of matras: {{ matras || 0 }}</h1>

    <div class="row">
      <div class="col">
        <arc-tween val="matras"></arc-tween>
      </div>

      <div class="col">
        <div class="list">
          <label class="item item-radio">
            <input type="radio" name="group" checked>
            <div class="item-content">Adi</div>
            <i class="radio-icon ion-checkmark"></i>
          </label>

          <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">Rupaka</div>
            <i class="radio-icon ion-checkmark"></i>
          </label>

          <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">Misra Chapu</div>
            <i class="radio-icon ion-checkmark"></i>
          </label>

          <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">Kanda Chapu</div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
