<ion-view title="Search Users">
  <ion-content class="padding">
    <h1>Public Users</h1><hr>
    <ion-list>
      <ion-item class="item item-avatar" ng-repeat="userProfile in userProfiles">
        <img src="{{ userProfile.picture }}">
        <h2>{{ userProfile.name }}</h2>
        <p>{{ userProfile.email }}</p>
        <ion-option-button class="button-royal" ng-click="addFriend(userProfile)">
          Add Friend
        </ion-option-button>
      </ion-item>
    </ion-list><hr>
    <div contenteditable class="padding">
      this should be working right <br> now
    </div>
  </ion-content>
</ion-view>
